<figure class="span6">
  <img src="{{ theme:img src="colon-open-parenthesis.jpg" }}" class="img-polaroid" width="450">
  <figcaption>Photo by <a href="http://jacobamundson.com/">Jacob Amundson</a></figcaption>
</figure>

<div class="span6">
  <header><hgroup><h1>{{ title }}</h1></hgroup></header>
  {{ content }}

  <script>var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;</script>
  <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>