@import "compass/css3/border-radius",
        "compass/css3/images",
        "compass/layout/sticky-footer",
        "cpb_sass_helpers/cpb",
        "forms",
        "code",
        "ugly_undoings";

#logo { max-height: 50px; }

// STRUCTURE
// --------------------------------------------------

// Header
// -------------------------
#header_main { padding-top: $neg_space; }


// Footer
// -------------------------
#footer_main {
  margin: 0 auto;

  p, a, a:hover {
    color: lighten($grayLight, 20%);
    font-size: $baseFontSize - 2; // same as small
  }
}

#disclaimer { text-align: right; }


// Navbar
// -------------------------
.navbar { margin-bottom: $neg_space; }

.nav > .dropdown > .dropdown-toggle {
  padding-right: 15px;
  position: relative;

  &:before {
    @include triangle(down, 8px, 8px, $grayLight);
    @include v-center(12px);
    right: 0;
  }

  &:after {
    @include triangle(down, 8px, 2px, $white);
    @include v-center(12px);
    right: 0;
  }
}

.dropdown      .dropdown-toggle:hover:before { border-top-color: $gray; }
.dropdown.open .dropdown-toggle:before       { border-top-color: $red;  }


// Sidebar
// -------------------------
#sidebar {
  font-size: 90%;

  li li a {
    padding-right: 30px;
    position: relative;

    &:before {
      @include triangle(right, 8px, 8px, $grayLight);
      @include v-center(8px);
      right: 15px;
    }

    &:after {
      @include triangle(right, 2px, 8px, $white);
      @include v-center(8px);
      right: 21px; // [right of :before] + [:before triangle width] - [:after triangle width]
    }
  }
}




// ALERTS
// --------------------------------------------------
.alert { @include border-radius(0); }




// BADGES & LABELS
// --------------------------------------------------
i.badge-info, i.label-info { font-family: $serifFontFamily; }
.badge-success.whale {
  position: relative;

  &:before {
    @include rotate(15deg);
    @include triangle(left, 12px, 10px, $green);
    display: block;
    left: -9px;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}




// BUTTONS
// --------------------------------------------------
.btn-download {
  padding-left: 30px;
  position: relative;

  &:before {
    @include triangle(down, 13px, 16px, $bodyBackground);
    @include v-center(16px);
    left: 10px;
  }

  &:after {
    @include triangle(down, 13px, 3px, $gray);
    @include v-center(16px);
    left: 10px;
  }
}




// ENTRIES
// --------------------------------------------------
.section {
  padding: $neg_space 0;
  &:first-child { margin-top: -$neg_space; }
}
.section_header {
  border-bottom: 1px solid $grayLighter;
  margin-bottom: $neg_space/2;
  padding-bottom: $neg_space/4;
}

.affix {
  position: fixed;
  top: 40px;
}

// Docs
// -------------------------
.docs { margin-bottom: 1000px; }




// STYLIZATIONS
// --------------------------------------------------

// Hero Unit
// -------------------------
.hero-unit {
  @include border-radius(0px);
  @include background(linear-gradient(bottom left, $grayDark, $red));
  background-color: $grayDark;
  margin-bottom: $neg_space;
  text-align: center;

  a {
    color: $white;
    &:hover { color: darken($white, 15%); }
  }
}


// Letters
// -------------------------
.letter {
  @include single-box-shadow($grayLighter);
  border: 1px solid $grayLighter;
  margin: 0 auto $neg_space;
  max-width: 370px;
  padding: $neg_space;
}

.salutation {
  display: inline-block;
  font-size: 105%;
  font-weight: bold;
  margin-bottom: $neg_space/4;
}

.signature {
  @include cb_logo_mark(40px);
  margin: $neg_space/2 auto;
}

.ps {
  @extend .muted;

  display: block;
  font-size: 90%;
  padding: 0 $neg_space*0.375;
}


// .description {
//   @extend .muted;
//   font-size: 85%;
//   font-style: italic;
//   margin: $neg_space/4 0 $neg_space;
// }

// .call_to_action {
//   @include background-image(
//     linear-gradient(
//       top,
//       transparent 12px,
//       $grayDark   12px, $grayDark 14px,
//       transparent 14px, transparent 17px,
//       $grayDark   17px, $grayDark 20px,
//       transparent 20px
//     )
//   );
//   background-size: 30px 30px;
//   margin-bottom: $neg_space;
//   text-align: center;
// }