@import "compass_twitter_bootstrap",
        "site_helpers";

@include sticky-footer(36px, "#wrapper", "#push", "#footer_main");

body { margin: 0 auto; }

hr {
  border-color: $grayDark;
  border-style: solid;
  border-bottom-width: 3px;
  border-top-width: 2px;
  margin: $neg_space 0;
  padding-top: 3px;
}

figure { margin: 0; }
figcaption { font-size: $baseFontSize - 2; } // Same as small

kbd {
  @include border-radius(4px);
  background-color: $white;
  border-color: darken($grayLighter, 5%) darken($grayLighter, 5%) lighten($grayLight, 15%);
  border-style: solid;
  border-width: 1px 1px 2px;
  display: inline-block;
  font-family: $sansFontFamily;
  font-size: $baseFontSize - 2; // same as small
  font-weight: 500;
  padding: 0 6px;
  vertical-align: bottom;
  white-space: nowrap;
}